/*Paleta de Cores
    3AA6B9
    FFD0D0
    FF9EAA
    C1ECE4
*/

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #3AA6B9;
    align-items: center;
    min-width: 320px;
    
}
.conteúdo{
    background-color:rgb(216, 225, 233);
    padding: 2rem;
    margin: auto;
    min-width: 320px;
    max-width: 750px;
    height: 92vh;
}
.principal{
    padding: 2rem;
}
.cabeçalho{
    
}
.barraNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(7, 65, 103);
    height: 8vh;
    
}
ul{
    list-style: none;
    display: flex;
    color: rgb(216, 225, 233);
    cursor: pointer;
}
#logo{
    color: rgb(216, 225, 233);
    cursor: pointer;
}
li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.menuResponsivo div{
    
    width: 32px;
    height: 2px;
    background-color: rgb(216, 225, 233);
    margin: 8px;
}
.menuResponsivo {
    cursor: pointer;
    display: none;
}
@media (max-widht: 999px) {
    
}