/*Paleta de Cores
    3AA6B9
    FFD0D0
    FF9EAA
    C1ECE4
/*Fontes*/
@font-face {
  font-family: 'bart';
  src: url('Fontes Gratuitas/Bartleen.otf') format(opentype);
}
@font-face {
  font-family: 'borel';
  src: url('Fontes Gratuitas/Borel/Borel.ttf') format(truetype);
}
h3#resBart{
  font-family: bart;
}
/*Conteúdo*/

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
html{
    scroll-behavior: smooth;
}
body{
    background-color: #3AA6B9;
    align-items: center;
}
h1{
  display: inline-block;
}
.conteúdo{
    background-color:rgb(216, 225, 233);
    padding: 2rem;
    margin: auto;
    min-width: 320px;
    max-width: 750px;
    height: 90vh;
}
.principal{
    padding: 2rem;
}
/*nav bar*/
a {
    color: rgb(216, 225, 233);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  .logo{
    font-size: 35px;
  }
    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #022956;
    height: 10vh;
    
  }

  .listaNav {
    list-style: none;
    display: flex;
  }
  
  .listaNav li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 22px;
  }
  
  .menuResponsivo {
    display: none;
    cursor: pointer;
  }
  
  .menuResponsivo div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .listaNav {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .listaNav li {
      margin-left: 0;
      opacity: 0;
    }
    .menuResponsivo {
      display: block;
    }
  }
  
  .listaNav.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .menuResponsivo.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .menuResponsivo.active .linha2 {
    opacity: 0;
  }
  
  .menuResponsivo.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  /*toogles*/
.toogle{
  display: inline-block;
}
  #checkFontes{
    display: none;
  }
  .switch{
    position: relative;
    display: flex;
    background-color: #767c82;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .slider{
    display: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .5s ease-in-out;
  }
  .dadosUsuárioF, .dadosUsuárioT, .dadosUsuárioM{
    display: none;
  }
  #checkFontes:checked ~ .switch{
    background-color: #3AA6B9; 
    .slider{
      transform: translateX(23px); }
    }
  #checkTemp{
    display: none;
  }
  #checkTemp:checked ~ .switch{
    background-color: #3AA6B9; 
  }
  #checkTemp:checked ~ .switch .slider{
    transform: translateX(23px);
  }
  #checkMoedas{
    display: none;
  }
  #checkMoedas:checked ~ .switch{
    background-color: #3AA6B9; 
  }
  #checkMoedas:checked ~ .switch .slider{
    transform: translateX(23px);
  }