/*Paleta de Cores
    3AA6B9
    FFD0D0
    FF9EAA
    C1ECE4
*/

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #3AA6B9;
    align-items: center;
    padding: 2rem;
    
}
.conteúdo{
    background-color:rgb(216, 225, 233);
    padding: 2rem;
    border-radius: 5px;
    margin: auto;
    max-width: 900px;
   /* min-width: 380px;*/
}
.principal{
    padding: 2rem;
}
.cabeçalho{
    
}
.barraNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(141, 146, 147);
    height: 8vh;
}
ul{
    list-style: none;
    display: flex;
    
}
li{
    letter-spacing: 3px;
    margin-left: 32px;
}